@import url("./reset.css");
@import url("./windows.css");
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Kalam');

.red {
	color: #a00;
}

body,html {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	min-width: 250px;
	min-height: 100%;
	height: 100%;
}

.grid {
	position: absolute;
	top:      0px;
	left:     0px;
	width:    100%;
	min-height: 100%;
	overflow:   auto;
	display:    grid;
	background: #fceabb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	grid-gap:   0;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr auto auto;
	grid-template-areas:
		"header"
		"content"
		"aside"
		"footer";
}

	.grid header {
		position: relative;
		grid-area: header;
		display: block;
	}
		.grid header .shadow{
			position:absolute;
			top: 250px;
			width: 100%;
			height: 20px;
			box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.7);
		}
		
		.grid header picture {
			position: absolute;
			height: 100%;
			width: 100%;
			background: url('../img/static/cover_444px.jpg') no-repeat center center scroll; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			overflow: hidden;
			text-align:center;
		}
			
			.grid header picture .igevers {

				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
			
			.grid header picture .igevers::after {
				font-size: 26px;
				margin: 60px 20px 20px 20px;
				padding: 20px;
				background-color: rgba(255,255,255,0.7);
				font-family: 'Arial', serif;
				font-weight: bold;
				content: '...életét adta váltságul...';
				white-space: pre-wrap;
				display: inline-block;
				border: 1px solid rgba(0,0,0,0.5);
				border-radius: 4px;
				color: rgba(255,255,255,0.9);
				text-shadow: 0 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
			}
		
		.grid header .log-menu {
			position: absolute;
			right: 20px;
			top: 5px;
			border-radius: 10px;
			padding: 5px 10px;
			font-size: 0;	
			border: 4px solid rgba(250, 250, 250, 0.2);	
			background-color: rgba(0, 0, 0, 0.5);
			opacity: 1;
			transition: 0.2s;
			z-index:1;
			display: none;
		}
		
			.grid header .log-menu:hover {
				background-color: rgba(0, 0, 0, 1);
				border: 4px solid rgba(250, 250, 250, 0.5);	
				opacity: 1;
			}
			
			.grid header .log-menu img {
				height: 32px;
				width: 32px;
			}
			
			.grid header .log-menu a {
				opacity: 0.5;
				transition: 0.2s;
			}

			.grid header .log-menu a:hover {
				opacity: 1;
			}

			.grid header .log-menu .logged, .grid header .log-menu  .guest {
				disp1lay: none;
			}	

	.grid nav {
		grid-area: menu;
		padding: 20px 10px;
		display: none;
	}

	.grid main {
		margin-top: 270px;
		grid-area: content;
		display: block;
		align-self: center;
	}
	
		.grid main .content{
			margin: 20px;
			padding: 10px 20px;
			background-color: rgba(255, 255, 255, 0.4);
			background-image: url('../img/static/transp_bg1.png');
			background-repeat: repeat;			
			border-radius: 10px;
			font-family: 'Kalam', serif;
			font-weight: 100;
			font-size: 24px;
			border: 1px double rgba(0,0,0,0.5);
			text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
		}	
			.grid main .content h1::after{
				content: 'Isten hozott az oldalunkon';
			}
			
			.grid main .content h1{
				font-size: 36px;
				font-family:arial;
				font-family: 'Berkshire Swash', serif;
				text-align: center;
				color:#fff;
				margin-top: 20px;
				text-shadow:  0 1px 0 #ccc,
				0 2px 0 #c9c9c9,
				0 3px 0 #aaa,
				0 4px 0 #999,
				0 5px 0 #888,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);				
			}
			
			.grid main .content a {
				color: #00f;
			}
			
			.grid main .content a:hover {
				cursor: pointer;
				text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
			}
			
			.grid main .content h2 {
				font-size: 26px;
				color: #336;
			}
			
				.grid main .content .header .media {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;
					justify-content: space-around;
					margin-bottom: 20px;
				}
				.grid main .content .header .media .coverFrame {
					position: relative;
					height: 320px;
					min-width: 200px;
					width: 100%;
					max-width: 427px;
					display: inline-block;
					padding: 10px;
					background-color: rgba(255,255,255,0.9);
					border: 1px solid rgba(100,100,100,0.5);
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					margin: 20px 0;
				}
				.grid main .content .header .media .coverFrame .coverPicture {
					height: 100%;
					width: 100%;
					background: url(../img/static/cover.jpg) no-repeat center center scroll; 
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					overflow: hidden;	
					border: 1px solid rgba(100,100,100,0.5);
				}
				.grid main .content .header .media .stickyNote {
					position: relative;
					height: 320px;
					min-width: 200px;
					width: 100%;
					max-width: 250px;
					color: rgba(0,0,0,0.7);
					background:#ffc;
					margin: 20px 0;
					padding: 10px;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;
					border: 1px solid rgba(100,100,100,0.5);
					border-radius: 5px;
					text-shadow: 0.1em 0.1em 0.2em #aaa;
					display: inline-block;
					line-height: 21px;		
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					overflow: hidden;
					text-align: center;
				}


				.grid main .content .header .media .stickyNote h2 {
					width: 100%;
					font-size: 20px;
					padding-bottom: 10px;
					border-bottom: 1px solid rgba(0,0,0,0.5);
					margin-bottom: 10px;
				}

				.grid main .content .header .media .stickyNote p {
					position: absolute;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					top: 55px;
					left: 10px;
					right: 10px;
					bottom: 50px;
					text-align: left;
				}

				.grid main .content .header .media .stickyNote .more {
					position: absolute;
					display: inline-block;
					bottom: 10px;
					padding: 3px 6px;
					left: 50%;
					transform: translateX(-50%);	
				}

				.grid main .content .header .media .stickyNote .more:hover {
					cursor: pointer;
				}		
	.grid aside {
		align-self: center;
		display: block;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly; 
		grid-area: aside;
		min-height: 200px;
		padding: 0 20px;
		text-align: center;
	}
	
		.grid aside .fund, .grid aside .service,  .grid aside .social {
			font-family: 'Open Sans', serif;
			width: 100%;
			max-width: 230px;
			margin: 20px 50px;
			padding: 10px 10px;
			font-size: 14px;
			background: linear-gradient(70deg, #99f, #ddf);
			border: 1px solid rgba(100,100,100,0.5);
			border-radius: 5px;
			text-shadow: 0.1em 0.1em 0.2em #aaa;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			display: inline-block;
			line-height: 21px;

		}
		
		.grid aside .social {
			background-color: #ffc;
			background-image: url('../img/static/transp_bg2.png');
			background-repeat: repeat;
			border: 1px solid rgba(100,100,100,0.8);
			box-shadow: 0 0 20px rgba(0,0,0,0.8);
			text-shadow: 1px 0 1px rgba(0,0,0,0.5), -1px 0 1px rgba(0,0,0,0.5), 0 1px 1px rgba(0,0,0,0.5), 0 -1px 1px rgba(0,0,0,0.5), 0 0 5px rgba(0,0,0,0.5);
			font-size: 26px;
			max-width: 400px;
			min-height: 200px;
			line-height: 34px;
			font-family: 'Kalam', serif;
			color: #eef;
		}
		.grid aside .social .relative {border:1px solid rgba(0,0,0,0.5);position:relative;width: 100%; height: 100%}
		.grid aside .social .relative iframe {position:absolute;left:0;top:0;width: 100%; height: 100%}
		
		.grid aside .social a img {transition: 0.2s ease; width:48px; height:48px;}
		.grid aside .social a:hover img{ transform: scale(1.1,1.1); }
		
		.grid aside .service {
			line-height: 22.6px;
		}
		
		.grid aside .service h2 {
			font-size: 22px;
			font-family: cursive;
			font-weight: bold;
		}
		
		.grid aside .service a {
			font-size: 14px;
			font-family: cursive;
			font-weight: bold;
		}
		
		.grid aside .service a:hover {
			text-shadow: 0 0 2px rgba(0, 0, 255, 0.5);
		}
		
		.grid aside .fund h3{
			font-size: 16px;
			color: #336;
		}
		
	
		
	.grid footer {
		grid-area: footer;
		background-color: rgba(0,0,200,0.3);
		border-top: 1px solid rgba(0,0,0,0.4);
		text-align: center;
		padding: 10px;
		font-style: italic;
		font-family: courier;
		color: #fff;
	}

	nav .menu {
		width: 100%;
		text-align: center;
	}

	.menuButton {
		transition: 	all 0.2s ease;
		opacity:		0.7;
		font-family:    arial, serif;
		color:			#fff;
		text-align:		left;
		font-size:		20px;
		font-weight:	bold;
		padding:		10px 10px;
		width: 			220px;
		overflow: 		hidden;
		height: 		50px;
		max-height:		50px;
		text-shadow:
			-1px -1px 0 #000, 
			1px -1px 0 #000, 
			-1px 1px 0 #000, 
			1px 1px 0 #000;
		
		border: 1px solid rgba(0,0,0,0.5);
		border-bottom: 3px solid rgba(0,0,0,0.5);
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
		background: rgba(0,0,0,0.25);

		-o-box-shadow: 
			0 2px 8px rgba(0,0,0,0.5),
			inset 0 1px rgba(255,255,255,0.3),
			inset 0 10px rgba(255,255,255,0.2),
			inset 0 10px 20px rgba(255,255,255,0.25),
			inset 0 -15px 30px rgba(0,0,0,0.3);

		-webkit-box-shadow: 
			0 2px 8px rgba(0,0,0,0.5),
			inset 0 1px rgba(255,255,255,0.3),
			inset 0 10px rgba(255,255,255,0.2),
			inset 0 10px 20px rgba(255,255,255,0.25),
			inset 0 -15px 30px rgba(0,0,0,0.3);

		-moz-box-shadow:
			0 2px 8px rgba(0,0,0,0.5),
			inset 0 1px rgba(255,255,255,0.3),
			inset 0 10px rgba(255,255,255,0.2),
			inset 0 10px 20px rgba(255,255,255,0.25),
			inset 0 -15px 30px rgba(0,0,0,0.3);
		
		box-shadow: 
			0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
			inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
			inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
			inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
			inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
			margin: 1px 1px;
		display: inline-block;
	}
	.menuButton img {
		vertical-align: middle;
		width: 32px;
		height: 32px;
	}

	.menuButton:hover {
		position: relative;
		opacity: 1;
	}

	.menuButton:active {
		position: relative;
		top: 2px;
	}

	.menuButton .buttonName {
		margin: 0 5px 0 10px;
	}

.header-line {
	position: fixed;
	top: 0;
	width: 100%;
	height: 58px;
	background-color: rgba(0,0,0,0.5);
	z-index:1;
} 

	.header-line .burger{
		position: absolute;
		top: 15px;
		right: 10px;
		height: 30px;
		width: 40px;
		padding-top: 2px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
		display: block;
	}

		.header-line .burger input {
			margin-top: 10px;
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */
			-webkit-touch-callout: none;
		}

		.header-line .burger span.burger-line {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background: #cdcdcd;
			border-radius: 3px;
			z-index: 1;
			opacity: 1;
			transform-origin: 4px 0px;
			box-shadow: 0 0 5px rgba(0,0,0,0.8);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
		}

		.header-line .burger input:checked ~ span.burger-line {
			opacity: 1;
			transform: translate(0, 0);
		}

		.header-line .burger input:checked ~ span.burger-line:nth-child(2) {
			transform: rotate(90deg);
			background-color: #bdbdbd;
		}

		.header-line .burger input:checked ~ span.burger-line:nth-child(3) {
			transform: rotate(90deg) translateY(-30px) translateX(-8px);
			background-color: #9d9d9d;
		}

		.header-line .burger input:checked ~ span.burger-line:nth-child(4) {
			transform: translateY(-22px);
			background-color: #adadad;
		}
		
		.header-line .burger input:checked ~ span.burger-line:nth-child(5) {
			background-color: #8d8d8d;
		}

		.header-line .burger #burger_menu{
			position: absolute;
			background-color: rgba(50, 50, 50, 0.8);
			border-radius: 10px 0 10px 10px;
			top: -400px;
			right: 0;
			min-width: 240px;
			height: auto;
			padding: 4px 0 2px 0;
			transition: 1s;
			display: block;
			transition-timing-function: ease-out;
			-webkit-font-smoothing: antialiased;  
			border: 1px solid #000;
			opacity: 0;
			text-align: center;
			box-shadow: 0 0 10px rgba(0,0,0,0.7);
		}
		.header-line .burger #burger_menu nav {display: inline;}
		.header-line .burger #burger_menu .menuButton img { width: 48px; height: 48px;}
		.header-line .burger #burger_menu .menuButton span {display: inline-block;}
		.header-line .burger #burger_menu .menuButton .buttonName {display: none; }
		.header-line .burger #burger_menu .menuButton {width:72px;min-height:72px;background: rgba(255,255,255,0.7);border-radius:10px; }
		.header-line .burger input:checked ~ span#burger_menu { top: 43px; opacity: 1; }

@media only screen and (min-width: 445px) {
	.grid header picture {	background-image: url('../img/static/cover_757px.jpg');	}
	.grid header picture .igevers::after {content: '\2018\2018...a mi betegségeinket viselte, és a mi fájdalmainkat hordozta...\2019\2019\A \2003\2003\2003\2003\2003\2003\2003\2003\2003(Ézs 53:4)'; }
}	
@media only screen and (min-width: 758px) {
	.grid header picture {	background-image: url('../img/static/cover_1024px.jpg');	}
	.grid header picture .igevers::after {content: '\2018\2018 ... egy vessző sem vész el a törvényből, míg minden be nem teljesedik\2019\2019\A \2003\2003\2003\2003\2003\2003\2003\2003\2003 (Mt 5:18b)'; }
}	
@media only screen and (min-width: 1025px) {
	.grid header picture {	background-image: url('../img/static/cover_1440px.jpg');	}
	.grid header picture .igevers::after {content: '\2018\2018 De hála Istennek, aki a diadalmat adja nekünk a mi Urunk Jézus Krisztus által!\2019\2019\A \2003\2003\2003\2003\2003\2003\2003\2003\2003 (1Kor 15:57)'; }
}	
@supports (display: grid) {
	.grid main {
		margin-top: 0;
	}
	.grid aside .fund, .grid aside .service,  .grid aside .social {
		margin: 20px 0;
	}
	@media only screen and (max-width: 300px) {
		.header-line .burger #burger_menu{
			border-radius: 0;
			position: fixed;
		}
		
		.grid main .content h1::after{content: 'Isten hozott';}
		
		.header-line .burger input:checked ~ span#burger_menu { top: 58px; opacity: 1; }
	}

	@media only screen and (min-width: 578px) {
		.header-line {
			display: none;
		}	
		
		.grid header .log-menu, .grid nav {
			display: block;
		}
		
		.grid {
			grid-template-columns: 80px 1fr;
			grid-template-rows: 50px 1fr auto auto;
			grid-template-areas:
				"header header"
				"menu content"
				"aside aside"		
				"footer footer";			
		}
		
		.grid nav .menu .menuButton {
			width: 55px;
			white-space: nowrap; 
			display: block;
			margin: 4px 0;
		}
		
		.grid nav .menu .menuButton:hover {
			width: 220px;
			background: rgba(0,0,0,0.5);
		}
		
		.header-line {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 1440px;
			margin: 0 auto;
		}		
		
		.grid main .content h1::after{content: 'Isten hozott az oldalunkon';}
	}


	@media only screen and (min-width: 880px) {
		.grid {
			grid-template-columns: 250px auto;
		}
		
		.grid nav .menu .menuButton {
			width: 220px;
		}

		.grid main .content h1::after{content: 'Isten hozott a Győzelem Gyülekezet oldalán';}	
		
	}

	@media only screen and (min-width: 1172px) {
		.grid {
			grid-template-columns: 245px 1fr auto;
			grid-template-rows: 50px auto 1fr auto;
			grid-template-areas:
				"header header header"
				"menu content content"
				"aside aside aside"
				"footer footer footer";			
		}
		.grid nav .menu .menuButton:hover {
			letter-spacing: 0.5px;
		}
	}

	@media only screen and (min-width: 1439px) {
		body {
			background-image: url("../img/static/brick.jpg");
			background-repeat: repeat;
		}
		.grid {
			grid-template-columns: 300px 1fr 300px;
			grid-template-rows: 50px 0 1fr auto;
			grid-template-areas:
				"header header header"
				"menu menu menu"
				"content content aside"	
				"footer footer footer";
			max-width: 1440px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			border-left: 2px solid rgba(0,0,0,0.75);
			border-right: 2px solid rgba(0,0,0,0.75);
			box-shadow: 0 0 70px #000;
		}

		.grid nav .menu {
			margin-top: 10px;
		}
		.grid nav .menu .menuButton {
			width: 160px;
			white-space: nowrap; 
			display: inline-block;
			margin: 4px 0;
		}	

		.grid nav {
			padding: 0;
			background-color: rgba(200, 200, 255, 0.9);
		}
		
		.grid nav .menu .menuButton:hover {
			width: 160px;
			background: rgba(0,0,0,0.5);
		}	
		.grid main {
			padding-top: 70px;
		}
		.grid aside {
			padding-top: 70px;
		}
	}
}
/* oldal specifikus */

.modal-layer{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	flex-direction: column;
	z-index: 999;
	align-items: center;
	justify-content: center;
	display: none;
}

