@import url("./windows.css");

body,html {
    position:relative;
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body{
	padding: 50px 0;
	background: #ff0084;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.errorBox{
	font-size: 20px;
	color: red;
	text-align: left; 
	text-shadow: 0px 0px 4px rgba(0,0,0,0.9);
}

a {
    text-decoration: none;
	outline: 0;
	cursor: pointer;
}		

.fakeModal {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.3);
}

section {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	min-width: 200px;
	width: 100%;
	max-width: 370px;
	transform: translate(-50%, -50%);
	text-align: center;
	padding:20px;
}
	section .form {
		border: 1px double rgba(0,0,0,0.5);
		background-color: rgba(0,0,0,0.2);
		padding: 30px 30px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	
	section .form h1 {
		font-size: 28px;
		letter-spacing: 0.7px;
		text-align: center;
		font-weight: 600;
		margin-right: 50px;
		display: block;
		color: rgba(255,255,255,0.8);
		margin-bottom: 40px;
		text-shadow: 0 0 1px #000, 2px 2px 10px rgba(0,0,0,0.5);
	}
	
	section .form input {
		width: 		 100%;
		height: 	 45px;
		line-height: 45px;
		font-size:   14px;
		border-radius:  4px;
		border: 1px solid #999;
		text-indent:    14px;
		display:        block;
		letter-spacing: 0.8px;
		color: #000;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
		background-color: rgba(255,255,255,0.85);
		margin-bottom:  10px;
	}	

	section .form input:focus {
		border: 1px solid #374e60;
	}

	section .form input:invalid{
		/* border: 1px solid #ff0000; */
	}
	
	
	section .form button {
		margin: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	}
	
	section .form button:first-child { margin-top: 40px;}
	
	section .form a{
		font-size:  13px;
		color: rgba(255,255,255,0.8);
		text-shadow: 0 0 4px rgba(0,0,0,0.5);
	}
	
	section .form button:hover {
		cursor: pointer;
	}
	
	section .form a.underlined {
		color: 		#354fc6;
		border-bottom: 1px solid #a8b3e1;
		margin: 0 7px;
	}

	section .form a.disabled{
		color: 		#808487;
		border-bottom: 1px solid #c3c7ca;		
	}