@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
	outline: none;
	text-decoration: none;
	list-style: none;
}

form {
	display: inline;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}